#home-slide-show{

	margin-bottom: 12px;
}

#home-slide-show .carousel-indicators{

	display: none;
}

#home-slide-show .item{

	padding-bottom: 49%;
}

#home-slide-show .carousel-inner{

	margin-bottom: 0;
}